@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    /* Colors - */
    /* Primary */
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);

    /* Neutral */
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --darkGrayishMagentaMax: hsl(306, 15%, 49%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
html {
    /* Suavizamos el scroll */
    scroll-behavior: smooth;
}

.body {
    margin: 0px auto;
    padding: 80px 20px 0 20px;
    width: 100%;
    height: auto;
    background: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom -275px right;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ------------ HEADER - TITLE ------------ */
.headerTitle {
    padding: 0 0 30px 0;
    width: 100%;
    height: auto;
    color: var(--veryDarkMagenta);
    font-size: 38px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.headerText {
    padding: 0 28px;
    color: var(--darkGrayishMagenta);
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}

/* ------------ ASIDE - STARS------------ */
.aside ul {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stars {
    border-radius: 6px;
    list-style: none;
    width: 100%;
    max-width: 430px;
    height: 80px;
    background: var(--lightGrayishMagenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.stars figure {
    text-align: center;
}
.text {
    font-weight: 700;
    color: var(--darkGrayishMagentaMax);
    text-align: center;
}

/* ------------ MAIN - cards ------------ */

.cards {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    border-radius: 10px;
    padding: 37px;
    background: var(--veryDarkMagenta);
    width: 100%;
    max-width: 430px;
    height: auto;
    color: var(--white);
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr 2fr);
    transition: 
                transform 300ms ease,
                box-shadow 300ms ease;
    
}
.card:hover {
    transform: scale(1.08);
    box-shadow: 2px 2px 10px black;
}

.card figure {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.card figure img {
    border-radius: 50%;
    width: 40px;
}
.card figure figcaption {
    width: 150px;
}
.status {
    padding-top: 5px;
    color: var(--softPink);
    display: inline-flex;
}

.card p {
    line-height: 1.3;
}

/* ------------ FOOTER ------------ */
.footer {
    width: 100%;
    height: auto;
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer a {
    color: hsl(228, 45%, 44%);
}

/* ------------ Redes social's ------------ */
.container-contacts {
    margin: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: default;
    flex-wrap: wrap;
}

.container-contacts_redSocial {
    margin: 0px;
    list-style: none;
    width: auto;
    height: auto;
}

.container-contacts_figure {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-contacts_figure a {
    margin-bottom: 5px;
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-contacts_figure a:hover {
    filter: drop-shadow(0 0 3px var(--veryDarkMagenta));
}

.container-contacts_figure-img {
    padding: 0;
    width: 32px;
    display: block;
}

/* ---- Boton de subida ----*/
.fleche{
    margin: 10px auto;
    border-radius: 50%;
    padding: 0;
    width: 32px;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.fleche:hover {
    transform: scale(1.2);
}
.symbol {
    width: 100%;
    height: 100%;
}

/* ------- > 430px a los 770px ------- */
@media only screen and (min-width: 431px) {
    .body {
        background: 
        url(./images/bg-pattern-top-desktop.svg),
        url(./images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        background-size: 400px;
    }

    /* ------------ ASIDE - STARS------------ */
    .stars {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .stars1 {
        align-self: flex-start;
    }
    .stars3 {
        align-self: flex-end;
    }

    /* ------------ MAIN - cards ------------ */

    .card1 {
        align-self: flex-start;
    }
    .card3 {
        align-self: flex-end;
    }

    /* ------------ FOOTER ------------ */
    .footer {
        font-size: 16px;
    }

    /* ------------ Redes social's ------------ */
    .container-contacts_figure-img,
    .fleche {
        width: 45px;
    }
}

/* ------- > 771px a los 894px ------- */
@media only screen and (min-width: 771px) {
    /* ------------ MAIN - cards ------------ */
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card {
        max-width: 350px;
    }
}

/* ------- > 895px a los 1080px ------- */
@media only screen and (min-width: 895px) {
    .body {
        background-size: 580px;
    }
    .bodyContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 25px;
    }

    .header {
        grid-column: 1/6;
        margin-left: 20px;
    }

    .aside {
        grid-column: 6/-1;
        margin-right: 20px;
    }

    .main {
        grid-column: 1/-1;
    }

    .footer {
        grid-column: 1/-1;
        margin-top: 100px;
    }
    .footer div {
        display: flex;
        gap: 15px;
    }
}

/* > 1440px */
@media only screen and (min-width: 895px) {
    .body {
        padding: 180px 0 0 0;
    }

    .bodyContainer {
        margin: 0 auto;
        max-width: 1200px;
    }

    .header {
        padding: 0;
        max-width: 350px;
    }

    .headerTitle {
        padding: 5px 0 0px 0;
        width: auto;
        font-size: 45px;
        text-align: left;
        line-height: 35px;
    }

    .headerText {
        padding: 25px 0 0 0;
        width: auto;
        text-align: left;
    }

    .aside ul {
        max-width: 600px;
    }

    .cards {
        min-height: 280px;
        height: auto;
    }
}